/* src/components/Widget.css */
.widget {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.widget-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pie-chart-container {
  flex: 1;
}

.categories-display {
  flex: 1;
  padding-left: 20px;
}

.category-info {
  margin-bottom: 10px;
}

.delete-button {
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn, .remove-btn {
  margin-left: 0px;
  padding: 5px;
  cursor: pointer;
}

.add-btn{
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.add-btn-2{
  background-color: green;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
